<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Wes Henderson</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Texas, US</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 210 589 0628</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:info@necrux.com">info@necrux.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://necrux.com">https://necrux.com</a></li>
  </ul>
</div>
