<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      <a class="particles-icon" href="https://github.com/necrux">{% include svg/github.svg %}</a>
      <a class="particles-icon" href="https://www.linkedin.com/in/wes-henderson/">{% include svg/linkedin.svg %}</a>
      <a class="particles-icon" href="https://twitter.com/NecromancerTux">{% include svg/twitter.svg %}</a>
      <a class="particles-icon" href="https://www.weshenderson.info/resumes/resume.html">{% include svg/cv-circled.svg %}</a>
      <a class="particles-icon" href="mailto:info@necrux.com">{% include svg/mail.svg %}</a>
      <a class="particles-icon" href="/posts">{% include svg/glasses.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
